@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 8px;
}

body {
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

